page-list {

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .Nopurchases {
      font-size: 3em;
      font-style: oblique;
      color: grey;
    }

    .buttonStyling {
      display: flex;
      justify-content: flex-start;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 58%;
      width: 100%;
      color: green;
    }
}

  .latestActivityStyle {
    padding-left: 55%;
    font-style: oblique;
    font-size: 0.75em;
  }

  .countHeader {
  font-size: 1em;
  font-style: oblique;
  color: grey;
  text-align: center;
  }

  h4 {
    font-family: 'Montserrat';
    color: #59a343;
  }
}
