
<ion-header>

  <ion-navbar>
    <button ion-button color="primary" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
    <button ion-button icon-only (click)="logOut()">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
   <ion-list-header>
     <ion-avatar item-start>
       <img src="https://api.adorable.io/avatars/222">
     </ion-avatar>
     Personal Information
   </ion-list-header>
   <ion-item (click)="updateName()">
  <ion-grid>
  <ion-row>
    <ion-col col-6> Name </ion-col>
    <ion-col col-6 *ngIf="userProfile?.firstName || userProfile?.lastName">
      {{userProfile?.firstName}} {{userProfile?.lastName}}
    </ion-col>
    <ion-col col-6 class="placeholder-profile"
    *ngIf="!userProfile?.firstName">
      <span> Tap here to edit. </span>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-item>

<ion-item>
<ion-label class="dob-label">Date of Birth</ion-label>
<ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/M/YYYY"
[(ngModel)]="birthDate" (ionChange)="updateDOB(birthDate)"></ion-datetime>
</ion-item>

 <ion-item (click)="updateEmail()">
<ion-grid>
  <ion-row>
    <ion-col col-6> Email </ion-col>
    <ion-col col-6 *ngIf="userProfile?.email" text-wrap>
      {{userProfile?.email}}
    </ion-col>
    <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.email">
      <span> Tap here to edit. </span>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-item>

<ion-item (click)="updatePassword()">
  <ion-grid>
    <ion-row>
      <ion-col col-6> Password </ion-col>
      <ion-col col-6 class="placeholder-profile">
        <span> Tap here to edit. </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>

</ion-list>

<!-- <button ion-button color="primary" (click)="takePhoto()"> Change Profile Pic</button>
<button ion-button color="primary" (click)="getPhoto()"> Get Profile Pic</button> -->



</ion-content>
