
<ion-header>

  <ion-navbar>
    <ion-buttons end>
    <button ion-button color="primary" icon-only (click)="goToMap()"><ion-icon name="map"></ion-icon></button>
  </ion-buttons>
    <ion-title class="expanded">{{currentShop?.shopName | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="https://picsum.photos/200/300/?random">
      </ion-avatar>
      <h2> {{currentShop?.shopName}} </h2>
      <p>{{currentShop?.email}}</p>
    </ion-item>

    <ion-card-content>
      <h4>Shop Details  </h4>
      <p text-wrap>{{currentShop?.about}} </p>
      <hr>
      <ion-row>
          <ion-note *ngFor="let last of lastPurchases" text-wrap>
            <h4>Last Purchase:</h4><button ion-button icon-start clear small>
              <ion-icon name="cash"></ion-icon> {{last.createdDate | date: 'medium'}}</button></ion-note>

      </ion-row>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small><ion-icon name="cart">
        </ion-icon>
          <div>{{currentShop?.loyaltyBalance | number: fractionSize}} Loyalty Points</div>
          <ion-row>
            <div style="padding-left: 10px;"><ion-icon name="basket"></ion-icon>Purchases: {{purchasesCount}}</div>
          </ion-row>
          </button>
          <button ion-button round full small color="secondary" (click)="goToProductPage()">View Products</button>

      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-card-header>Recent Purchases</ion-card-header>
    <ion-card-content>
      <ion-item>

      <ion-label floating>Product Name</ion-label>
      <ion-input [(ngModel)]="product" type="text"></ion-input>

    </ion-item>

    <button ion-button color="primary" block (click)="addPurchase(product)"
[disabled]="!product">
  Add Purchase
</button>

    </ion-card-content>
  </ion-card>


  <ion-list>
     <ion-list-header>
      <button ion-button round full color="secondary" color="{{!RecentPurchases ? 'secondary' : 'danger'}}" (click)="RecentPurchases=!RecentPurchases">
        {{RecentPurchases ? 'Hide' : 'Recent Purchases'}}
    </button>
     </ion-list-header>
     <ion-list @itemState *ngIf="RecentPurchases">
     <ion-item *ngFor="let purchase of recentPurchases?.reverse()">

       <p text-wrap>Product: <strong>{{purchase.product}}</strong> <ion-icon name="arrow-round-up" color="secondary"></ion-icon> 25 points</p>
       <p>{{purchase.createdDate | date:'medium' }}</p>
     </ion-item>
     <p text-wrap class="Nopurchases" *ngIf="recentPurchases.length <= 0">
       <ion-icon color="primary" name="alert"></ion-icon>No Recent Purchases.</p>

   </ion-list>
   </ion-list>

</ion-content>
